
body {
  margin: 0px;
}

.footer {
  height: 150px;
  background-color: lightgrey;
  display: flex;
  justify-content: space-between;
}

.title {
  font-weight: bold;
  font-size: 12px;
}

.info {
  font-size: 10px;
}

.item {
  padding: 10px;
  width: 150px;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  display: flex;
  flex-direction: column;
}

#one {
  margin-left: 5%;
  justify-content: space-between;
}

#two {

}

#three {
  justify-content: space-between;
}
